  <div class="mb-3 border-bottom py-3">
    <%= form_with model: @article do |f| %>
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.label :content, class: "form-label" %>
      <%= f.text_area :content, class: "form-control" %>
      <%= f.submit class: "btn btn-primary my-3" %>
    <% end %>
  </div>
<%= link_to "Back to list", articles_path, class: "btn btn-primary" %>
